header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

hr {
  width: 580px;
}

.subheader {
  bottom: 28px;
  left: 120px;
  position: relative;
  width: 970px;
}

h3 {
  margin-left: 80px;
}

.tab-buttons {
  display: flex;
  flex-direction: row;
  margin: 50px auto 0;
  width: 951px;
}

button {
  border: black solid .5px;
  font-size: 14px;
  height: 40px;
  width: 290px;
}

.active {
  border-bottom: none;
}

.tab {
  border: black solid .5px;
  border-top: none;
  display: flex;
  flex-direction: row;
  height: 350px;
  padding: 25px;
  margin: 0 auto;
  width: 900px;
}

.tab-pic {
  height: 300px;
  margin: auto 0;
  width: 250px;
}

.tab-text {
  margin: 10px 0 0 40px;
  width: 65%;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 18px;
}
